<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <style>
      body {
        background-image: url("https://www.linkpicture.com/q/home_17.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 100% 100%;



      }
    </style>

  <title>Responsable Home</title>
</head>
<body >
<div STYLE="position: center;">
  <h1 th:color="blue">REFLEXE TOPO </h1>

  <div/>
<br><br><br><br>
  <br><br><br><br>
  <br><br>
<center>
  <a  href = "/RespoHome" class="btn btn-dark btn-lg" style="height:50px; width:400px;"> Accès Responsable >> </a>

  <a  href = "/EmployeHome" class="btn btn-dark btn-lg" style="height:50px; width:400px;"> Accès Employé >> </a>
  <br><br>

</center>


</body>
</html>