<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>La liste des factures services</title>
</head>


<body style="background: lightgrey" >
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Reflexe Topo</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Accueil</a>
                <a href="/gererClient" class="nav-item nav-link">La gestion des clients</a>
                <a href="/ajouterFC" class="nav-item nav-link">L'ajout d'une nouvelle facture client</a>

            </div>
            <div class="navbar-nav ms-auto" th:align="right">
                <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-danger" >Déconnecter</a>
            </div>
        </div>
    </div>
</nav>

<div class="container my-2">
    <h1>La liste des factures service</h1>
    <table border="1" class = "table table-striped table-responsive-md"s>
        <thead>
        <tr>
            <th>Numero de la facture</th>
            <th>Designation </th>
            <th>Quantité </th>
            <th>Prix HT</th>
            <th>Total HT</th>
            <th>Total TTC</th>
            <th>Taxe</th>
            <th>Type de paiement</th>

            <th>Client ID</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="f : ${factureFS}">
            <td th:text= "${f.num_factureFS}"></td>
            <td th:text= "${f.designationFS}"></td>
            <td th:text= "${f.quantitee}"></td>
            <td th:text= "${f.prix_ht}"></td>
            <td th:text= "${f.total_ht}"></td>
            <td th:text= "${f.total_ttc}"></td>
            <td th:text= "${f.taxe}"></td>
            <td th:text= "${f.type_de_paiement}"></td>
            <td th:text= "${f.client.id}"></td>



        </tr>
        </tbody>
    </table>
</div>
<a th:href = "@{/gererClient}" class="btn btn-dark" > < Retour </a>
</body>
</html>
